ACCOUNT="{{ ACCOUNT }}"
ENVIRONMENT="{{ ENVIRONMENT }}"
REGION="{{ REGION }}"
TERRAFORM_AWS_ACCESS_KEY="{{ ACCESS_KEY }}"
TERRAFORM_AWS_SECRET_KEY="{{ SECRET_KEY }}"
REMOTE_BUCKET="{{ REMOTE_BUCKET }}"
DB_NAME="{{ DB_NAME }}"
DB_PASSWORD="{{ DB_PASSWORD }}"
DB_USERNAME="{{ DB_USERNAME }}"
